* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
}

.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.main-input {
    width: 60%;
    height: 42px;
    font-size: 17px;
}

.main-btn {
    width: 115px;
    height: 40px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 5%;
    border: 1px;
    background-color: rgb(253, 60, 253);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-card {
    width: 90%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero-pos {
    width: 295px;
    height: 85px;
    background-color: rgb(184, 252, 116);
    margin-bottom: 20px;
    padding: 10px 15px;
    border: .5px solid black;
    border-radius: 6px;
    list-style: none;
}

/* active */

.active-2 {
    background-color: rgb(255, 228, 73);
}

.active-3 {
    background-color: rgb(179, 169, 169);
    text-decoration: line-through;
    color: rgb(71, 71, 71);
}

.active-4 {
    background-color: rgb(255, 228, 73);
}

.active-6 {
    background-color: rgb(179, 169, 169);
    text-decoration: line-through;
    color: rgb(71, 71, 71);
}


.hero-title {
    display: flex;
    text-transform: capitalize;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 12px;
}

.item-input {
    width: 20px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.item-icons {
    display: flex;
    align-items: flex-end;
}

span {
    margin-right: 115px;
    font-size: 14px;
    font-weight: 100;
}

.icon {
    cursor: pointer;
}
.icon-2 {
    cursor: pointer;
}
