{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    
</head>
<body>
    <div class="container">
        <section class="first-section" >
            <form action="">

                <div class="main-search">
                    <input class="main-input" type="search" name="user-search" placeholder="Напишите сюда новую задачу">
                    <button class="main-btn" type="submit">Добавить</button>
                </div>


                <div class="hero-card">
                    <form action="">
                        <ul class="menu">

                            <div class="hero-pos">
                                <li class="menu-item">

                                    <div class="hero-title">
                                        <input class="item-input"  type="checkbox"> 
                                        <strong  class="item-title"> купить молоко </strong>
                                    </div>

                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="main/static/icons/star.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>

                                </li>
                            </div>
                            <div class="hero-pos active-2">
                                <li class="menu-item">
                                    <p class="hero-title">
                                        <input  class="item-input" type="checkbox"> <strong class="item-title"> купить молоко </strong>
                                    </p> 
                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="https://img.icons8.com/ios/20/000000/star--v2.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>
                                </li>
                            </div>
                            <div class="hero-pos active-3">
                                <li class="menu-item">
                                    <p class="hero-title">
                                        <input  class="item-input" type="checkbox"> <strong class="item-title"> купить молоко </strong>
                                    </p> 
                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="https://img.icons8.com/ios/20/000000/star--v2.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>
                                </li>
                            </div>
                            <div class="hero-pos active-4">
                                <li class="menu-item">
                                    <p class="hero-title">
                                        <input  class="item-input" type="checkbox"> <strong class="item-title"> купить молоко </strong>
                                    </p> 
                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="https://img.icons8.com/ios/20/000000/star--v2.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>
                                </li>
                            </div>
                            <div class="hero-pos">
                                <li class="menu-item">
                                    <p class="hero-title">
                                        <input  class="item-input" type="checkbox"> <strong class="item-title"> купить молоко </strong>
                                    </p> 
                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="https://img.icons8.com/ios/20/000000/star--v2.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>
                                </li>
                            </div>
                            <div class="hero-pos active-6">
                                <li class="menu-item">
                                    <p class="hero-title">
                                        <input  class="item-input" type="checkbox"> <strong class="item-title"> купить молоко </strong>
                                    </p> 
                                    <div class="item- icons">
                                        <span>
                                        12.04.2021 09:34
                                        </span>
                                        <img class="icon" src="https://img.icons8.com/ios/20/000000/star--v2.png">
                                        <img class="icon-2" src="https://img.icons8.com/material-rounded/20/000000/full-trash.png"/>
                                    </div>
                                </li>
                            </div>
                        
                        
                    </ul>
                    </form>
                    

                </div>

                
            </form>
        </section>

        


    </div>

   
</body>
</html>